body {
    background: white;
  }
head {
    background: black;
}
  p {
    color: yellow;
  }
  h1 {
    text-transform: unset;
    text-align: center;
    font-weight: lighter;
    color: blue;
  }
  h2 {
    text-align: right;
    font-weight: inherit;
  }
.title {
    height:auto;
    width:25%;
}
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("latenight.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

